@import "../../scss/variables";

.cart-icon{
    position: relative;
    .fa{
        font-size: $large-bold;
        color: $gray;
    }
    span{
        position: absolute;
        right: -8px;
        top: -10px;    
    }

}